body {
    background-color:#101419;
    color: #101419;
}

.stFileUploader>div>div {
    background-color: #ADD9F4;
}

.stFileUploader>div>div>div {
    color: #101419;
}

.stFileUploader>div>div>button {
    color: #476C9B;
}


.stTable>table {
    background-color: #CCCCCC;
    color: #101419;
}

.stDataFrame>div>div {
    background-color: #CCCCCC;
    color: #101419;
}
